body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Heights */
  nav.navbar {
    height: 10vh;
  }
  .topic-content {
    height: 45vh;
  }
  .topics-button {
    height: 45vh;
  }
  