


$confidence-opacity: 0.6;


.block-section {
    position:absolute;
    width:120px;
    height:120px;
  .label {
    opacity: $confidence-opacity;
    text-transform: uppercase;
  }
  .value {
    font-size: 3em;
    height:1.2em;
    span {
      opacity: $confidence-opacity;
    }
  }
}

.block-section {
    background-color: rgba(0,0,0,0.5);
  }

