$category-opacity: 0.6;


.block-category {
  position: absolute;
  width: 120px;
  height: 120px;
  .label {
    opacity: $category-opacity;
    text-transform: uppercase;
  }
  .value {
    font-size: 3em;
    height: 1.2em;
    span {
      opacity: $category-opacity;
    }
  }
}

.block-category {
  background-color: rgba(0, 0, 0, 0.5);
}

// .category {
//   background-color: blue;
//   .label {
//     background-color: red;
//   }
//   .value {
//     background-color: gold;
//     span {
//       opacity: 0.6;
//     }
//   }
// }
